* {
    margin: 0;
}

body {
    background-color: bisque;
    /* background-image: url("fresh_snow.png"); */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

/* ------------------------------------ MAIN PAGE ------------------------------------*/

#main {
    /* border: 1px blue solid; */
    height: 100%;
}

#main h1 {
    margin: 50px 20px;
    /* margin-bottom: 40px; */
    padding-right: 45px;
    text-align: center;
}

/* ----------------- Upload-Image Form ----------------- */
#main form {
    /* border-bottom: 1px grey solid; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 10px;
}

#upload-header {
    /* border: 1px green solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(52, 52, 52);
}
#upload-header img {
    filter: contrast(60%);
}

#input-fields-div {
    /* border: 1px purple solid; */
    /* padding-left: 2vw; */
    min-width: 300px;
}

#input-fields-div label {
    /* border: 1px blue solid; */
    box-sizing: border-box;
    color: rgb(52, 52, 52);
    font-size: 20px;
    float: left;
    clear: left;
    width: 50%;
    min-width: 140px;
    padding-right: 10px;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 10px;
}

#input-fields-div input {
    border: none;
    /* border: 1px purple solid; */
    border-bottom: 1px grey solid;
    background-color: rgba(245, 245, 245, 0);
    box-sizing: border-box;
    font-size: 20px;
    width: 50%;
    margin-top: 12px;
    margin-bottom: 10px;
    /* margin-right: 1%; */

    float: left;
}

#input-fields-div input:focus {
    outline: none;
    border-bottom: 2px solid grey;
}

#upload-buttons-div {
    /* border: 1px blue solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#upload-buttons-div label {
    border: none;
    border-bottom: 3px rgb(52, 52, 52) solid;
    color: rgb(52, 52, 52);
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#upload-buttons-div label:hover {
    color: white;
    background-color: rgb(52, 52, 52);
}

#choose-image {
    /* Hide actual (unstylable) 'choose file' button */
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#submit-button {
    border: 3px rgb(52, 52, 52) solid;
    color: rgb(52, 52, 52);
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 10px;
    margin: 15px 0;
}
#submit-button:hover {
    color: white;
    background-color: rgb(52, 52, 52);
}
#submit-button:active {
    background-color: black;
}
#submit-button:focus {
    outline: none;
}

form button {
    display: block;
}

#error-message {
    text-align: center;
    color: red;
}

/* ---------------------------------- Images Container ---------------------------------- */

.main-header {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    color: rgb(52, 52, 52);
}

#image-container-header {
    position: relative;
}
#image-container-header h3 {
    margin-bottom: 30px;
}

#infinite-scroll,
#scrollOn {
    color: rgb(96, 96, 96);
    position: absolute;
    top: 30px;
    left: 22px;
}
#here {
    text-decoration: underline;
    cursor: pointer;
}
#scrollOn {
    visibility: hidden;
}

#image-container {
    /* border: 1px red solid; */
    border-width: 1px;
    border-style: solid;
    border-image-source: url("retina_wood2.png");
    border-image-slice: 20;
    border-image-width: 13;
    border-image-outset: 3;
    border-image-repeat: repeat;
    box-shadow: inset 8px 8px 4px 1px black, 0px -3px 5px 1px grey;

    margin-top: 10px;
    background-image: url("cork-board.png");
}

#image-sub-container {
    /* border: 1px red solid; */
    display: grid;
    padding: 30px 30px;
    grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    grid-row-gap: 20px;
}

.grid-element {
    /* border: 2px purple solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-div-link {
    text-decoration: none;
    color: black;
    filter: contrast(85%);
}
.image-div-link:hover {
    filter: contrast(100%);
}
.image-div {
    /* border: 1px grey solid; */
    background-image: url("paper_fibers.png");
    position: relative;
    padding-top: 1px;
    width: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

figure {
    margin: 5px;
}

.image {
    height: 210px;
    width: 300px;
    object-fit: contain;
    margin-bottom: 20px;
}

figcaption {
    background-color: white;
    margin: 0;
    padding: 2px 10px;
    /* padding-left: 10px; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.caption {
    /* border: green 1px solid; */
}

#more-button {
    /* border: 1px blue solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
#more-button button {
    border: 3px rgb(52, 52, 52) solid;
    border: 3px #6d4915 solid;
    border-radius: 10px;
    color: #6d4915;
    letter-spacing: 1px;
    background-color: white;
    padding: 7px 15px;
    font-size: 20px;
    cursor: pointer;
}
#more-button button:hover {
    color: white;
    background-color: #e1aa5d;
}
#more-button button:active {
    background-color: #c49047;
}
#more-button button:focus {
    outline: none;
}

/* ------------------------------------ MODAL ------------------------------------*/
.image-data {
    font-size: 12px;
}

#modal-background {
    /* border: 2px red solid; */
    background-color: rgba(43, 43, 43, 0.502);
    box-sizing: border-box;

    /* When you change padding, change #x top & right */
    padding: 10px 40px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#modal {
    border: 2px rgba(0, 0, 0, 0.342) solid;
    border-top: 1px rgba(0, 0, 0, 0.342) solid;
    border-left: 1px rgba(0, 0, 0, 0.342) solid;
    background-color: rgba(0, 0, 0, 0.582);
    background-image: url("retina_wood2.png");
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.39),
        inset -1px -1px 0px 1px rgba(0, 0, 0, 0.39);
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
}

#modal-content {
    /* border: 1px rgba(0, 0, 0, 0.459) solid; */
    border-radius: 2px;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.39);
    background-image: url("cork-board.png");
    height: 100%;
    display: flex;
    align-items: flex-end;
}

#modal-content-shadowsaver {
    /* border: 1px red solid; */
    box-sizing: border-box;
    height: 99.8%;
    width: 100%;
    padding: 10px;
    padding-top: 2px;
    overflow-y: scroll;
}

/* ------------------ Modal Image & Description------------------ */

#modal-image-container {
    /* border: 2px blueviolet solid; */
    position: relative;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#prev-icon,
#next-icon {
    border: 1px rgba(0, 0, 255, 0) solid;
    border-radius: 100%;
    /* background-image: url("next.png"); */
    position: fixed;
    top: 45%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.5;
}
#prev-icon {
    left: 64px;
}
#next-icon {
    right: 64px;
}
#prev-icon:hover,
#next-icon:hover {
    /* border: 1px grey solid; */
    opacity: 1;
    /* background-color: rgba(255, 255, 255, 0.5); */
}

#modal-image-div {
    /* border: 1px green solid; */
    box-sizing: border-box;
    display: flex;
    min-height: 20vh;
    max-height: 95vh;
    max-width: 82vw;
    overflow: auto;

    align-items: center;

    padding: 5px;
    padding-top: 5px;
    margin: 0;
    margin-bottom: 20px;
}

#modal-image-div div {
    /* border: 1px green solid; */
    padding: 20px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.32);
}

#modal-image {
    /* border: 1px red solid; */
    max-width: 78vw;
    max-height: 83vh;
}

#modal-image-container h2 {
    /* border: 1px red solid; */
    width: 100%;
}

#image-desc {
    /* border: 2px red solid; */
    background-color: #fff;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.32);

    margin: 0px;
    max-width: 40vw;
    text-align: left;
}

#image-desc h2 {
    border-bottom: 2px rgba(255, 0, 0, 0.685) solid;
    font-size: 30px;
}
#desc-title {
    padding: 10px 30px;
    padding-bottom: 0;
    color: rgb(58, 58, 58);
}

.img-desc-text {
    font-size: 25px;
}

#image-desc p {
    /* border-bottom: 1px rgb(90, 153, 249) solid; */
    overflow: scroll;

    /* Most of the code below (within this selector) comes from:
      https://css3.wikidot.com/blog:lined-paper-with-css 

      (some of the values have been changed)*/

    /* for padding:
        -first value: changes how close the text is to the lines
        */
    padding: 10px 30px 4px 30px;
    position: relative;
    color: #444;

    background: rgb(244, 240, 240);
    background: -webkit-gradient(
            linear,
            0 0,
            0 100%,
            from(#d9eaf3),
            color-stop(4%, #fff)
        )
        0 4px;
    background: -webkit-linear-gradient(top, rgb(90, 153, 249) 0%, #fff 8%) 0
        4px;
    background: -moz-linear-gradient(top, rgb(90, 153, 249) 0%, #fff 8%) 0 4px;
    background: -ms-linear-gradient(top, rgb(90, 153, 249) 0%, #fff 8%) 0 4px;
    background: -o-linear-gradient(top, rgb(90, 153, 249) 0%, #fff 8%) 0 4px;
    background: linear-gradient(top, rgb(90, 153, 249) 0%, #fff 8%) 0 4px;

    /* line-height value must match background size px */
    line-height: 35px;

    /* background-size px value must match line-height value */
    -webkit-background-size: 100% 35px;
    -moz-background-size: 100% 35px;
    -ms-background-size: 100% 35px;
    -o-background-size: 100% 35px;
    background-size: 100% 35px;
}

#modal-image-container p {
    /* border: 1px solid red; */
    margin-top: 20px;
}

.submission-info {
    font-size: 14px;
    /* font-style: italic; */
}

/* #divider2 {
    margin-top: 10px;
    border-bottom: 3px solid lightgrey;
    width: 120%;
} */

.sub {
    color: rgb(159, 158, 158);
}
/* ------------------ Modal Comments ------------------ */

/* ------ Input Comment --------------- */
#submit-comment-div-id {
    display: block;
    margin: 50px auto;
    width: 30%;
}
#submit-comment-div-id * {
    /* border: 1px red solid; */
    display: block;
    font-size: 20px;
}
#submit-comment-div-id button {
    border: 2px grey solid;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 900;
}
#submit-comment-div-id button:hover {
    background-color: grey;
    color: white;
}
/* #submit-comment-div-id button:active {
    background-color: rgb(82, 82, 82);
} */
#submit-comment-div-id button:focus {
    background-color: rgb(82, 82, 82);
    outline: none;
}

.comm {
    margin-top: 25px;
}

.comment-input {
    /* border: 2px red solid; */
    border: none;
    border-bottom: 1px black solid;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    height: 25px;
}
.comment-input:focus {
    outline: none;
    border-bottom: 2px black solid;
}

/* ------ Comments Container------------------- */

#comments-container {
    /* border: 1px solid red; */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    padding-top: 45px;
    padding-left: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#comments-title {
    /* border: 1px red solid; */
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(40, 40, 40);
}

.postit {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    padding: 20px;
    /* margin: 20px; */
    max-width: 40%;

    /* The following styling for this .postit class (with minor adjustments made by me) comes from the blog post at the url:
            https://mentormate.com/blog/css-postit-note/      */

    border: 1px solid #e8e8e8;
    border-top: 10px solid #fdfd86;
    border-bottom-right-radius: 60px 5px;

    background: #ffff88; /* Old browsers */
    background: -moz-linear-gradient(
        -45deg,
        #ffff88 81%,
        #ffff88 82%,
        #ffff88 82%,
        #ffffc6 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(81%, #ffff88),
        color-stop(82%, #ffff88),
        color-stop(82%, #ffff88),
        color-stop(100%, #ffffc6)
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
        -45deg,
        #ffff88 81%,
        #ffff88 82%,
        #ffff88 82%,
        #ffffc6 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
        -45deg,
        #ffff88 81%,
        #ffff88 82%,
        #ffff88 82%,
        #ffffc6 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
        -45deg,
        #ffff88 81%,
        #ffff88 82%,
        #ffff88 82%,
        #ffffc6 100%
    ); /* IE10+ */
    background: linear-gradient(
        135deg,
        #ffff88 81%,
        #ffff88 82%,
        #ffff88 82%,
        #ffffc6 100%
    ); /* W3C */
    /* IE6-9 fallback on horizontal gradient */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); */

    box-shadow: 2px 8px 5px rgba(0, 0, 0, 0.4);
}

.comment-div {
    /* border: 1px grey solid; */
    margin-top: 15px;
}

.comment {
    font-size: 18px;
}

.comment-user-date-div {
    margin-top: 20px;
    font-size: 14px;
}

.comment-username,
.comment-date {
    display: inline;
}

#x {
    /* border: 1px solid lightgrey; */
    border-radius: 10px;
    color: rgb(103, 103, 103);
    display: inline-block;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    position: fixed;

    /* Relation to .modal-background {padding: top: +25, right: +30px } */
    top: 35px;
    right: 70px;
    z-index: 10;
}

#x:hover {
    color: black;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    #upload-header {
        /* border: 1px black solid; */
        margin: 0;
        padding-left: 50px;
    }

    #upload-header img {
        visibility: hidden;
        position: relative;
        display: fixed;
        top: 0;
        z-index: -10;
    }

    #input-fields-div {
        /* border: 1px purple solid; */
        margin-top: 30px;
    }

    #upload-buttons-div {
        /* border: 1px blue solid; */
        margin-top: 40px;
        margin-bottom: 20px;
    }
}
